<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTG Codex</title>
    <link rel="stylesheet" href="/stylesheets/global-style.css">
</head>
<body>
    <nav id="nav-bar">
        <% if (user) { %>
            <div id="user">
                <img id="user-image" src="<%=user.avatar%>">
                <a id="user-logout" href="/logout">LOGOUT</a>    
            </div>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img id="login-icon" src="https://i.imgur.com/FHjYyi0.png"></a>
            <% } %>
            <div id="site-title"><h1><a href="/">MTG Codex</a></h1></div>
            <div></div>
    </nav>
