<%- include('../partials/header.ejs') %>

<div class="search">
    <form action="/codex/search" method="GET">
        <input class="searchbar" type="text" name="name" placeholder="Search Cards">
    </form>
</div>

<div class="wrapper" id="card-container">
    <% results.forEach(card => { %>
        <div class="results"><a href="<%= card._id %>"><img src="<%=card.image_uris.small%>"></a></div>
    <% }) %>
</div>


<%- include('../partials/footer.ejs') %>
