<%- include('../partials/header.ejs') %>

<div id="nav-title">
    <form action="/codex/search" method="GET">
        <input id="searchbar" type="text" name="name" placeholder="Search Cards">
    </form>
</div>

<% if (!results) { %> <h1>Search for cards to add</h1> <% } else { %>
    <% results.forEach(card => { %> 
        <img src="<%=card.image_uris.small%>">
    <% }) %> 
<% } %>

<%- include('../partials/footer.ejs') %>
